@import "palette";

@mixin background($variant) {
  @if $variant == normal {
    @media screen {
      background-color: $base3;
    }
    @media screen and (prefers-color-scheme: dark) {
      background-color: $base03;
    }
  } @else if $variant == alternate {
    @media screen {
      background-color: $base2;
    }
    @media screen and (prefers-color-scheme: dark) {
      background-color: $base02;
    }
  } @else if $variant == reverse {
    @media screen {
      background-color: $base03;
    }
    @media screen and (prefers-color-scheme: dark) {
      background-color: $base3;
    }
  }
}

@mixin font-color($variant) {
  @if $variant == normal {
    @media screen {
      color: $base02;
    }
    @media screen and (prefers-color-scheme: dark) {
      color: $base2;
    }
  } @else if $variant == strong {
    @media screen {
      color: $base03;
    }
    @media screen and (prefers-color-scheme: dark) {
      color: $base3;
    }
  } @else if $variant == reverse {
    @media screen {
      color: $base2;
    }
    @media screen and (prefers-color-scheme: dark) {
      color: $base02;
    }
  }
}
