$threshold: 60rem;

@mixin device($point) {
  @if $point == mobile {
    @media screen and (max-width: $threshold) {
      @content;
    }
  } @else if $point == desktop {
    @media screen and (min-width: $threshold) {
      @content;
    }
  }
}
