@import "device";

footer {
  @include background(alternate);
  width: 100%;
  display: block;

  @include device(mobile) {
    padding-bottom: 4em;

    section:not(:first-child) > h2 {
      margin-top: 3em;
    }
  }

  section {
    text-align: center;

    ul {
      padding: 0;

      li {
        list-style: none;
      }
    }
  }
}

@include device(desktop) {
  footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    section {
      flex-basis: 30%;

      ul {
        li {
          min-width: 25%;
          margin: 0.5em 0;

          a {
            margin: 0 auto;
            padding: 0;
            width: 10em;
          }
        }
      }
    }
  }
}
