header {
  padding: 0;
  margin: 0;
  @include background(alternate);
  font-variant: small-caps;
  padding-left: 0.4em;
  padding-top: 0.4em;

  h1 {
    padding: 0;
    margin: 0;
    display: inline;
    font-size: 1.2em;

    a {
      @include font-color(normal);
      text-decoration: none;
    }
  }
}

nav {
  ul li {
    list-style: none;
  }
}

@include device(mobile) {
  $timing: 0.5s;
  $ease: ease;

  label.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity $timing $ease, z-index 0s $timing;
    background-color: rgba(0, 0, 0, 0.5);
  }

  $button-size: 3em;

  nav {
    @include background(reverse);
    position: fixed;
    text-align: center;
    left: 0;
    top: 100%;
    overflow: hidden;
    width: 100%;
    z-index: 3;
    padding-bottom: calc(#{$button-size} + 1em);
    transition: all $timing;

    ul {
      margin: 0;
      padding: 0;

      li {
        padding: 0.5em 0;
      }
    }
  }

  .mobile-menu {
    pointer-events: none;
    position: fixed;
    left: 0;
    bottom: 0.5em;
    z-index: 4;

    width: 100%;
    height: $button-size;
    text-align: center;

    label.menubutton {
      cursor: pointer;
      pointer-events: auto;
      width: 3em;
      height: 3em;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
      @include background(reverse);
      border-radius: 50%;

      svg {
        stroke-width: 1;
        stroke-linecap: round;
        stroke: $base01;
        width: 2em;
        height: 2em;

        path {
          transition: transform $timing, transform-origin $timing;
        }
      }
    }
  }

  input#show-menu {
    &:checked {
      & ~ .content {
        overflow: hidden;

        nav {
          transform: translateY(-100%);
        }
        label.mask {
          z-index: 1;
          opacity: 1;
          transition: opacity $timing $ease;
        }
        svg {
          $sqrt_2: 1.414213562373;
          .h {
            transform-origin: 5px 2px;
            transform: translate(0, 3px) rotate(405deg) scale($sqrt_2, 1);
          }
          .m {
            transform: translate(10px);
          }
          .l {
            transform-origin: 5px 8px;
            transform: translate(0, -3px) rotate(-45deg) scale($sqrt_2, 1);
          }
        }
      }
    }
  }
}

@include device(desktop) {
  .mobile-menu {
    display: none;
  }

  nav {
    @include background(alternate);
    position: sticky;
    top: 0;

    ul {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-evenly;

      li {
        text-align: center;
        width: 100%;

        a {
          padding: 0.4em;
          text-align: center;
          display: inline-block;
        }
      }
    }
  }
}
