{% extends "layout.tera.html" %}
{% block title %}Projects - {% endblock title %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/style/projects.css">
<script src="article.js"></script>
{% endblock head %}
{% block content %}
<article data-id={{ article.id }}>
  {{ article.content }}
</article>
{% endblock content %}