{% extends "layout.tera.html" %}
{% block title %}Blog - {% endblock title %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/style/blog.css">
{% endblock head %}
{% block content %}
<ul>
  {% for article in articles %}
  <li data-id={{ article.id }}>
    <a href={{ article.url_link }}>
      <strong>{{ article.title }}</strong> – <time
        datetime="{{ article.created_at }}">{{ date_ser(date=article.created_at, lang=lang) }}</time>
    </a>
    {{ article.description }}
  </li>
  {% endfor %}
</ul>
{% endblock content %}