{% extends "layout.tera.html" %}
{% block title %}CV - {% endblock title %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/style/cv.css">
{% endblock head %}
{% block content %}
<ul class="experiences">
  {% for experience in xp %}
  <li>
    <div class="when">
      <time datetime="{{ experience.from }}">{{ date_ser(date=experience.from, lang=lang) }}</time>
      <time datetime="{{ experience.to }}" class="to">{{ date_ser(date=experience.to, lang=lang) }}</time>
    </div>
    <div class="content">
      <h2><a href="#">{{ experience.title }}</a></h2>
      <div class="where"><em>{{ experience.place }}</em></div>
      <div class="description">{{ experience.description | safe }}</div>
      <div class="technical">
        <p><em>Tech</em></p>
        {{ experience.technical | safe }}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock content %}