<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}Un blog de dev</title>
    <link rel="stylesheet" href="/style/main.css">
    <!--link rel="icon" type="image/gif" href="favicon.gif" /-->
    <script type="text/javascript" src="/common.js"></script>
    {% endblock head %}
</head>

<body>

    <input type="checkbox" id="show-menu" autocomplete="off" style="display:none;" />
    <div class="content">

        <header>
            <h1>
                <a href="index.html">Félix Daudré-Vignier</a>
            </h1>
        </header>

        <nav>
            <ul>
                {% for link in navbar_links %}
                <li>
                    <a title="{{ link.title }}" href="{{ link.page }}.html" {% if link.selected %}class="selected"
                        {% endif %}>
                        {{ link.content }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
        <div class="mobile-menu">
            <label for="show-menu" class="menubutton">
                <svg class="svg-menu" width="10" height="10" viewBox="0 0 10 10" xmlns="https://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path class="h" d="M1 2l8 0" />
                    <path class="m" d="M1 5l8 0" />
                    <path class="l" d="M1 8l8 0" />
                </svg>
            </label>
        </div>

        <main>
            <label for="show-menu" class="mask"></label>

            {% block content %}{% endblock content %}
        </main>

        <footer>
            <section>
                <h2>{{ footer.contact.title }}</h2>
                <ul>
                    <li><a href="mailto:felix-dev@daudre-vignier.fr">{{ footer.contact.email }}</a></li>
                    <li>
                        <a
                            href="https://www.linkedin.com/in/f%C3%A9lix-daudr%C3%A9-vignier/">{{ footer.contact.linkedin }}</a>
                    </li>
                    <li><a href="tel:+33-6-52-15-87-51">{{ footer.contact.phone }}</a></li>
                </ul>
            </section>
            <section>
                <h2>{{ footer.projects.title }}</h2>
                <ul>
                    <li><a href="https://gitlab.com/Boiethios">{{ footer.projects.gitlab }}</a></li>
                    <li><a href="https://stackoverflow.com/users/4498831">{{ footer.projects.so }}</a></li>
                    <li><a href="https://github.com/Boiethios">{{ footer.projects.github }}</a></li>
                </ul>
            </section>
            <section>
                <h2>{{ footer.other.title }}</h2>
                <ul>
                    <li><a href="https://gitlab.com/Boiethios/boiethios.gitlab.io">{{ footer.other.source }}</a></li>
                </ul>
            </section>
        </footer>

    </div>

    <script>/*Hack to prevent the firing of transitions at page loading*/</script>
</body>

</html>