<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Language choser</title>
    <script src="/redirect.js"></script>
    <noscript>
        <style>
            p {
                display: none
            }
        </style>
    </noscript>
</head>

<body>
    <p>Redirecting…</p>
    <noscript>
        <ul>
            <li><a href="/en/{{ page }}.html">Browse the site in English.</a></li>
            <li><a href="/fr/{{ page }}.html">Voir la version française du site.</a></li>
        </ul>
    </noscript>
</body>

</html>