@import "common/palette";

main {
  ul {
    li {
      margin-bottom: 2em;
      a {
        display: block;
        //color: $color-3;
        strong {
          color: inherit;
        }
        font-size: 1em;
      }
    }
  }
}
