@import "common/palette";
@import "common/colors";
@import "common/device";

main {
  ul.experiences {
    padding: 0;

    & > li {
      list-style-type: none;
      margin-bottom: 6em;

      .when {
        @include font-color(strong);

        time {
          font-stretch: condensed;
          font-family: "Courier";
          font-family: "Lucida Console", Monaco, monospace;
          letter-spacing: -1px;

          &.to::before {
            content: "→ ";
          }
        }
      }

      .content {
        h2 {
          a {
            color: inherit;
            text-decoration: none;
          }
        }

        .where {
          color: $magenta;
          em {
            color: inherit;
          }
          &::before {
            content: "@ ";
          }
        }

        .technical {
          margin-top: 1em;

          p {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
          }
        }
      }
    }
  }
}

@include device(desktop) {
  main {
    ul.experiences {
      & > li {
        .when {
          float: left;
          max-width: 8em;

          time {
            display: block;
          }
        }

        .content {
          margin-left: 9em;
        }
      }
    }
  }
}

@include device(mobile) {
  main ul.experiences .content {
    .description,
    .technical {
      ul {
        padding-left: 1em;
        list-style-type: square;
      }
    }
  }
}
