@import "common/palette";
@import "common/device";

main {
  ul {
    padding: 0;

    svg {
      float: left;
      width: 3em;
      height: 3em;
      margin-top: 0.3em;
    }

    li {
      list-style: none;
      min-height: 4em;
      align-items: center;
      padding-bottom: 3em;

      p {
      }

      &:nth-child(1) svg {
        fill: $red;
      }
      &:nth-child(2) svg {
        fill: $violet;
      }
      &:nth-child(3) svg {
        fill: $green;
      }
    }
  }
}

@include device(mobile) {
  main ul svg {
    margin-right: 1em;
  }
}

@include device(desktop) {
  main ul {
    li p {
      padding-left: 4em;
    }
  }
}
