@import "common/palette"; //TODO @use, when rsass implements it
@import "common/device";
@import "common/colors";

* {
  box-sizing: border-box;
}

html {
  font: 1.1em/161.8% monospace, monospace;
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  @include background(normal);
  @include font-color(normal);
  overflow: hidden;

  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  & > .content {
    height: 100%;
    position: relative;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    display: flex;
    flex-direction: column;
  }
}

main {
  padding: 1em;
  padding-top: 4em;
  flex: 1 0 auto;

  //DESKTOP
  max-width: $threshold;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: $yellow;
  text-decoration: underline;

  &:hover {
    color: $orange;
  }
}

em,
strong {
  @include font-color(strong);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arial mono", "Helvetica mono", "sans-serif mono";
  color: $cyan;
}

h2 {
  font-size: 1.2em;
}

@import "layout/header";
@import "layout/footer";
